
<div class="block-header">
  <h2>
    Gateways List <small>{{ gateway.name ? "Edit" : "Add" }} Gateway</small>
  </h2>
</div>
<!-- Basic Validation -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Gateway Details</h2>
      </div>
      <div class="body">
        <form id="form_validation" method="POST" (ngSubmit)="saveGateway($event)">

          <div class="form-group form-float">
            <mat-input-container>
              <input matInput="" placeholder="Gateway Name" name="name" [(ngModel)]="gateway.name"  required >
            </mat-input-container>
          </div>
          <div class="form-group form-float">
              <mat-input-container>
                <input matInput="" placeholder="Gateway Location" name="location" [(ngModel)]="gateway.location"  required >
              </mat-input-container>
          </div>
          <div class="form-group form-float">
            <mat-input-container>
              <input matInput="" placeholder="Gateway MAC" name="mac" [(ngModel)]="gateway.mac"  required >
            </mat-input-container>
          </div>
          <div class="form-group form-float">
            <mat-input-container>
                <input matInput="" placeholder="Gateway IP" name="ip" [(ngModel)]="gateway.ip"  required >
            </mat-input-container>
          </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Gateway WIFI Name" name="wifiUsername" [(ngModel)]="gateway.wifiname"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Gateway WIFI Password" name="wifiPassword" [(ngModel)]="gateway.wifiPassword"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Gateway Username" name="gatewayUsername" [(ngModel)]="gateway.gatewayUsername"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Gateway Password" name="gatewayPassword" [(ngModel)]="gateway.gatewayPassword"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" type="number" placeholder="Gateway Reading Capicity( in Meeters )" name="readingDistance" [(ngModel)]="gateway.readingDistance"   >
                </mat-input-container>
            </div>
            

          <button class="btn btn-primary waves-effect" type="submit">SAVE GATEWAY</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- #END# Basic Validation -->
