
<div class="block-header">
  <h2>
    Idcards List
  </h2>
</div>
<!-- Exportable Table -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>SCHOOLS</h2>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown"><a href="javascript:void(0);"
                                  class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false"> <i
                  class="material-icons">more_vert</i>
          </a>
            <ul class="dropdown-menu pull-right">
              <li><a [routerLink]="['../add-new']">Add Idcard</a></li>
            </ul></li>
        </ul>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table
                  class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Name</th>
              <th>Address</th>
              <th>Username</th>
              <th>IsActive</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Sr. No.</th>
              <th>Name</th>
              <th>Address</th>
              <th>Username</th>
              <th>IsActive</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
            </tfoot>
            <tbody>
            <tr *ngFor="let idcard of this.idcardService.idcards; let i=index">
              <td>{{i+1}}</td>
              <td>{{idcard.name}}</td>
              <td>{{idcard.address}}</td>
              <td>{{idcard.username}}</td>
              <td>{{idcard.isActive?"Active":"Deactive"}}</td>
              <td>{{idcard.startDate}}</td>
              <td>{{idcard.endDate}}</td>
              <td><a [routerLink]="['../edit/', idcard._id]"><i _ngcontent-c2="" class="material-icons">edit</i> </a>   <a (click)='deleteIdcard( [idcard._id] )'><i _ngcontent-c2="" class="material-icons">delete</i> </a></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# Exportable Table -->