
<div class="block-header">
  <h2>
    Idcards List
  </h2>
</div>
<!-- Exportable Table -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>SCHOOLS</h2>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown"><a href="javascript:void(0);"
                                  class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false"> <i
                  class="material-icons">more_vert</i>
          </a>
            <ul class="dropdown-menu pull-right">
              <li><a [routerLink]="['../add-new']">Add Idcard</a></li>
            </ul></li>
        </ul>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table
                  class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
            <tr>
              <th>Sr. No.</th>
              <th>MAC</th>
              <th>UUID</th>
              <th>Major</th>
              <th>Minor</th>
              <th>IsActive</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idcard of idcards; let i=index">
              <td>{{(pageSize* pageIndex)+i+1}}</td>
              <td>{{idcard.mac}}</td>
              <td>{{idcard.uuid}}</td>
              <td>{{idcard.major}}</td>
              <td>{{idcard.minor}}</td>
              <td>{{idcard.isActive?"Active":"Deactive"}}</td>
              <td>
                  <a [routerLink]="['../edit/', idcard._id]"><i _ngcontent-c2="" class="material-icons">edit</i> </a>
                  <a (click)='deleteIdcard( [idcard._id] )' class="delete"><i _ngcontent-c2="" class="material-icons">delete</i> </a>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
          <mat-paginator [length]="pages"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageEvent = setPageData($event)">
          </mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- #END# Exportable Table -->